<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         bootstrap="tests/bootstrap.php">
         
    <testsuites>
        <testsuite name="AllTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
                <directory suffix=".php">vendor/</directory>
                <file>test.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
